# Dependencies
__pycache__/
*.pyc

# Environment files
.env
.env.local
.env.*.local

# Build files
dist/
build/
*.db

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Firebase
serviceAccountKey.json

# Temporary files
tempCodeRunnerFile.py

# Wellness Risk Monitor
wellness-risk-monitor/serviceAccount.json 